@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 30px;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  display: flex;
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  height:50%;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.blog-list{
  width:28%;  
  margin: 0 auto;
}

.block__link{
  display:flex;
}

.article_body{
  width:30%;
  margin: 0 auto;
  text-align: justify;
}

.blog__list{
  border: 1px solid #ddd;
  width: 100%;
  display:flex;
  justify-content: space-between;
}

#like-button{
  display:flex;
  justify-content: space-between;
}

#like-button:hover{
  cursor: pointer;
}

#likecCount {
  align-items: center;

  margin-left:  3px;
  align-self: center;
}

.block__bottom{
  display: flex;
  justify-content: space-between;
}

.btn__update{
  text-decoration: none;
  align-self: center;
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.del-post{
  font-size: 16px;
}


.comment-input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  min-height: 100px;
}

.comment__stuff{
  display: grid;
  grid-template-columns: 1fr  50px 60px 30px;
  padding: 5px 15px;
  
  border: 1px solid rgb(139, 130, 130);
  border-radius: 13px;
  margin-bottom: 500px;
  position:relative;
}


.delete-comment{
  position:absolute;
  right: 2px;
  top: -20px;
  font-size: 50px;
}

.delete-comment-reply{
  position:absolute;
  right: 3px;
  top: -10px;
  font-size: 30px;
}



.comment-like-block{
  display:flex;

}

.comment-liked-button{
  display: flex;
}

.comment-liked-button p{
  align-self: center;
}

.btn__update-comment-edit{
  float: right;
}

.form-edit-comment{
  margin-bottom: 70px;
}

.comment__stuff-reply{
  justify-content: end;
  display: grid;
  grid-template-columns: 1fr  50px 30px;
  padding: 5px 15px;
  align-content: center;
  border: 1px solid rgb(139, 130, 130);
  background: rgb(214, 199, 199);
  border-radius: 13px;
  height: 40px;
  width: 400px;
  margin: 0 auto;
  position: relative;
}

.user-comment-reply{
  align-self: end;
  justify-content: end;
}

.comment-reply-title{
  font-weight: bold;
}

.bottom_block{
  display: flex;
  justify-content: space-between;
}